    <div class="container">
      <form action="#phone" method="get" accept-charset="utf-8" class="form-signin form-horizontal">

        <h2 class="form-signin-heading">Make A Call</h2>
        <h4 id='fromuser'></h4>
        <label for="Number to Dial">Number to Dial</label>
          <input type="text" name="number_to_dial" value="1-800-444-4444" id="number_to_dial" class="input-block-level" placeholder="1-800-444-4444" autofocus>
        <button class="btn btn-large btn-primary input-block-level" type="submit" value="registering..." id="call" disabled="true"  class="btn btn-large btn-primary">
          <i class='icon-phone'></i> <span id="status">Registering...</span>
        </button>
            
      </form>
      <pre id='debuglog'>
        <ol id='debuglist'></ol>
      </pre>
          
    </div> <!-- /container -->
    
    
<script type="text/javascript" charset="utf-8">
  var phono;
  $(document).ready(function(){
    
    $("#fromuser").html("from: "+ localStorage.username + " "+  localStorage.phone_number );
    phono = $.phono({
      apiKey: "1ffbcd7784339c8d01d5abb05b2e21d9",
      // audio: {type:'java',
      //      jar:"http://s.phono.com/releases/0.5/plugins/audio/phono.audio.jar"},
      onReady: function() {
        $("#call").attr("disabled", false);
        $("#status").html( 'ready' );
        $('#debuglist').append('<li>registered: <a href=sip:'+ phono.sessionId+'>sip:'+ phono.sessionId+'</a></li>');
        binderURL = 'http://binder.api.tfoundry.com/session/'+your_number+'/'+phono.sessionId ;
        $.ajax({
                url:  binderURL,
                // data: {url: 'http://gw.att.io:8080/http-bind/session/'+your_number+'/'+phono.sessionId},
                type: "POST"
                }).done(function(data, status) {
                  $('#debuglist').append("<li>"+status+"</li>");
                  $('#debuglist').append("<li>"+data+"</li>");
                  $('#debuglist').append('<li>bound session to: '+ localStorage.phone_number +"</li>");
                  })
              }
      
      })

    $('.result').ajaxError(function(event, request, settings){
      $(this).append("<li>Error requesting page " + settings.url + "</li>");
    });
    
    $("#call").click(function(event) {
      event.preventDefault();
      $("#status").html("Dialing");
      cb.setState('active');
      phono.phone.dial($("#number_to_dial").val(), {
        onRing: function() {
          $("#status").html("Ringing");
          cb.setState('calling');
        },
        onAnswer: function() {
          $("#status").html("Answered");
          cb.setState('active');
          $("#call").click(function() {phono.phone.hangup()} )
        },
        onHangup: function() {
          console.log("Hangup");
          $("#call").attr("disabled", false).val("Call");
          $("#call").click(function() {phono.phone.hangup()} )
              
          $("#status").html(".");
        },
        onError: function() {
          console.log("Call Error");
        },
      });
    });

  })
</script>
