    <div class="container">
      <form action="#phone" method="get" accept-charset="utf-8" class="form-signin form-horizontal">
        <h2 class="form-signin-heading">Make A Call</h2>
        <h4 id='fromuser'></h4>
        <label for="Number to Dial">Number to Dial</label>
          <input type="text" name="number_to_dial" value="1-800-444-4444" id="number_to_dial" class="input-block-level" placeholder="1-800-444-4444" autofocus>
        <button class="btn btn-large btn-primary input-block-level" type="submit" value="registering..." id="call" disabled="true"  class="btn btn-large btn-primary">
          <i class='icon-phone'></i> <span id="status">Registering...</span>
        </button>
            
      </form>
      <pre id='debuglog'>
        <ol id='debuglist'></ol>
      </pre>
          
    </div> <!-- /container -->
    
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    
    var phone = $.phone({
        token: 'f2d9e0aff8c5d2db45ee8e11c4279da0',
        version: "a1",
        // specify what we want to do when
        // we're ready to make calls
        onReady: function () {
          $('#debuglist').append('<li>registered: <a href=sip:'+ phone.sessionId+'>sip:'+ phone.sessionId+'</a></li>');
          
            window.activeCall = phone.dial('1-800-444-4444');
        },
        onIncomingCall: function (call) {
            window.activeCall = call;
            // auto answer
            call.answer();
        }
    });
    
    
    $("#fromuser").html("from: "+ localStorage.username + " "+  localStorage.phone_number );
    // phono = $.phono({
    //   apiKey: "7826110523f1241fcfd001859a67128d",
    //   gateway: "gw.phono.com",
    //   connectionUrl: "http://gw.att.io:8080/http-bind",
    //   onReady: function() {
    //     $("#call").attr("disabled", false);
    //     $("#status").html( '' );
    //     $('#debuglist').append('<li>registered: <a href=sip:'+ phono.sessionId+'>sip:'+ phono.sessionId+'</a></li>');
    //     binderURL = 'http://binder.api.tfoundry.com/session/'+your_number+'/'+phono.sessionId ;
    //     $.ajax({
    //             url:  binderURL,
    //             // data: {url: 'http://gw.att.io:8080/http-bind/session/'+your_number+'/'+phono.sessionId},
    //             type: "POST"
    //             }).done(function(data, status) {
    //               $('#debuglist').append("<li>"+status+"</li>");
    //               $('#debuglist').append("<li>"+data+"</li>");
    //               $('#debuglist').append('<li>bound session to: '+ localStorage.phone_number +"</li>");
    //               })
    //           }
    //   
    //   })
    // 
    // $('.result').ajaxError(function(event, request, settings){
    //   $(this).append("<li>Error requesting page " + settings.url + "</li>");
    // });
    // 
    // $("#call").click(function(event) {
    //   event.preventDefault();
    //   phono.phone.dial($("#number_to_dial").val(), {
    //     onRing: function() {
    //       $("#status").html("Ringing");
    //     },
    //     onAnswer: function() {
    //       $("#status").html("Answered");
    //       $("#call").click(function() {phono.phone.hangup()} )
    //     },
    //     onHangup: function() {
    //       console.log("Hangup");
    //       $("#call").attr("disabled", false).val("Call");
    //       $("#call").click(function() {phono.phone.hangup()} )
    //           
    //       $("#status").html(".");
    //     }
    //   });
    // });

  })
</script>
