    <div class="container phonebox">
      <form action="#phone" method="get" accept-charset="utf-8" class="form-signin form-horizontal">
        <h2 class="form-signin-heading">Make A Call</h2>
        <h4 id='fromuser'></h4>
        <label for="Number to Dial">To </label>
          <input type="text" name="number_to_dial" value="1-800-444-4444" id="number_to_dial" class="input-block-level" placeholder="1-800-444-4444" autofocus>
        <button class="btn btn-large btn-primary input-block-level" type="submit" value="registering..." id="call" disabled="true"  class="btn btn-large btn-primary">
          <i class='icon-phone'></i> <span id="status">Registering...</span>
        </button>
        <br>
        <a href="/logout" class='btn btn-link'><i class='icon-logout'></i> Logout</a>
        <a href="https://auth.tfoundry.com/" class='btn btn-link'><i class='icon-logout'></i> Account</a>
        <a href="#hangup" class='btn btn-danger btn-link' id="hangupcall"><i class='icon-logout'></i> Hangup</a>


      </form>
      <pre id='debuglog'>
        <ol id='debuglist'></ol>
      </pre>
          
    </div> <!-- /container -->
    
<script type="text/javascript" charset="utf-8">

  var att;
  $(document).ready(function(){

    var accessToken = localStorage.access_token;
    var selfNumber = localStorage.phone_number;
    var call;

    window.att = $.att({
      apiKey: accessToken,
      onReady: function() {
        if (localStorage.phone_number) {
          $("#fromuser").html("from "+(localStorage.phone_number));
        };
        $("#call").attr("disabled", false);
        $("#status").html( ' Dial ' );
        $('#debuglist').append('<li>registered: <a href=sip:'+ att.phone.sessionId+'>sip:'+ att.phone.sessionId+'</a></li>');
 
        $("#call").click(function(event) {
          event.preventDefault();
          $("#status").html("Dialing");
          console.debug("-------------------");


          att.phone.dial( $( "#number_to_dial").val(), {
             // Events
             onRing: function() {
               $("#status").html("Ringing");
               $('#hangupcall').show();
             },
             onAnswer: function() {
                $("#status").html("Answered");
                $('#hangupcall').show().click(call.hangup());
                
             },
             onHangup: function() {
               console.log("Hangup");
               $("#status").html(" Dial.");
               $('#hangupcall').hide();
               
             },
             onError: function() {
               console.log("Call Error");
               $("#status").html("Call Error");
             }})
 
        });
        
      },
   
      onUnready: function() {
       $("#call").attr("disabled", true);
       $("#status").html( 'disconnected' );
      },
      
      // Phone API Configuration
      phone: {
        // Event Handlers
        onIncomingCall: function(call) {
         $('#hangupcall').show().click(call.hangup());
          window.activeCall = call;
          $('#status').html("Incoming Call: " + call.id);
          $("#call").click(function() {
            $("#status").html( call.id );
            call.answer();
          });
          

        },
        onError: function(event) {
          console.log("Phone error: " + e.reason);
        }
      }  //phone
      

    }); //att
    

    window.candybar = new CandyBar({phone: att});
    candybar.render();
    
  }); //ready


</script>
